/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.nh-hidden {
    display: none;
}

.nh-admin-page-header {
    margin-top: 1.5rem;
    margin-bottom: 25px;
}

.nh-admin-page-header img {
    width: 30px;
}

.page-content {
    background-color: #fff;
    padding: 20px 50px 50px;
    border-radius: 5px;
    border: 1px solid #CCC;
    min-height: 80vh;
}

.accordion-body {
    padding: 40px;
}

.nh-nav-configuration {
    margin-top: 25px;
}

.page-content .tab-content {
    margin-top: 30px;
}

a.nav-link {
    color: #000;
}

.form-group .form-control {
    height: 40px;
    border: 1px solid #CCC;
    padding: 0 15px;
}
.nh-btn {
    height: 45px;
    font-size: 16px;
}

.toast-header img {
    width: 20px;
}

img.img-thumbnail-preview.w-10.mb-3 {
    width: 100px;
}

#toplevel_page_nh-configuration > a > div.wp-menu-image.dashicons-before > img {
    width: 15px;
}
#nh_select_catalogue,
#nh_select_catalogue_thumbnail,
#nh_select_report {
    width: 150px;
}
.nh-uploaded-img {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.nh-uploaded-img img {
    width: 100px;
}
.nh-uploaded-img .caption {
    display: block;
    padding-left: 10px;
}

.form-group-wrapper > div {
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-items: baseline;
}

.form-group-wrapper h5 {
    padding-left: 10px;
    padding-right: 10px;
}

.form-group.nh-input-wrapper {
    padding: 0 10px;
}

button.accordion-button:focus{
    box-shadow: unset;
}

.accordion-button:not(.collapsed),
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover{
    color: #4f94d4;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover,
.nav-tabs{
    border-color: #72aee6;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover{
    border-bottom: none;
}

.nh-btn[type=submit] {
    border: 1px solid black;
    color: #fff;
    background-color: #a48241;
}

.sample-file {
    margin-bottom: 35px;
    text-align: right;
}

.nh-importing-process {
    margin-bottom: 35px;
}

.nh-importing-process .progress {
    height: 25px;
    font-size: 14px;
}